/DEV/BLL/obj
/DEV/BLL/bin
/DEV/Common/obj
/DEV/Common/bin
/DEV/DAL/obj
/DEV/DAL/bin
/DEV/DI/obj
/DEV/DI/bin
/DEV/IBLL/obj
/DEV/IBLL/bin
/DEV/IDAL/obj
/DEV/IDAL/bin
/DEV/Model/obj
/DEV/Model/bin
/DEV/MyFrameWork/bin
/DEV/MyFrameWork/obj
/DEV/Web/obj
/DEV/Web/bin
